[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.8'

[packages]
discord-py = "*"
unidecode = "*"
tinydb = "*"
configparser = "*"
pretty-errors = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
pre-commit = "*"
babel = "*"

[pipenv]
allow_prereleases = true
